services:
  daisy:
    build:
      context: ./
      network: host
    environment:
      - "DAISY__APIS__ICANHAZDADJOKE__HOST=${DAISY__APIS__ICANHAZDADJOKE__HOST:-icanhazdadjoke.com}"
      - "DAISY__APIS__ICANHAZDADJOKE__PATH=${DAISY__APIS__ICANHAZDADJOKE__PATH:-}"
      - "DAISY__APIS__ICANHAZDADJOKE__PORT=${DAISY__APIS__ICANHAZDADJOKE__PORT:-}"
      - "DAISY__APIS__ICANHAZDADJOKE__SCHEME=${DAISY__APIS__ICANHAZDADJOKE__SCHEME:-https}"
      - "DAISY__APIS__MANTIS__HOST=${DAISY__APIS__MANTIS__HOST:-localhost}"
      - "DAISY__APIS__MANTIS__PATH=${DAISY__APIS__MANTIS__PATH:-}"
      - "DAISY__APIS__MANTIS__PORT=${DAISY__APIS__MANTIS__PORT:-10800}"
      - "DAISY__APIS__MANTIS__SCHEME=${DAISY__APIS__MANTIS__SCHEME:-http}"
      - "DAISY__DEBUG=${DAISY__DEBUG:-true}"
      - "DAISY__SERVER__HOST=${DAISY__SERVER__HOST:-0.0.0.0}"
      - "DAISY__SERVER__PORT=${DAISY__SERVER__PORT:-10810}"
    network_mode: host
